app = "espresso-engineered"
primary_region = "dfw"

app = 'espresso-engineered'
primary_region = 'iad'

[env]
  PORT = "8080"
  FRONTEND_URLS = "https://espresso-engineered.netlify.app,https://espressoengineered.com,https://www.espressoengineered.com"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
